/* banckground style*/
#intro{
    background-image: url("Untitled\ design.png");
    height: 100vh;
    width: 100vw;
}
/* Height for devices larger than 576px */
@media (min-width: 992px) {
    #intro {
      margin-top: -75px;
    }
    #navbarTogglerDemo01 {
        margin-right: 50px;
    }
    #body-login{
        background-color: #eae5e7;
        padding-top: 100px;
        padding-bottom: 100px;
        height: 100vh;
    }
  }
/*background color for navbar home*/
#navbar{
    background-color: rgba(182, 200, 214, 0.5);
}
/*background color for footer home*/
#footer{
    background-color: rgba(91, 139, 180, 0.5);
}
/*margin for content home*/
#home{
    margin: 40vh 0 0 0;
}
/*background color for footer all*/
#other1{
    background-color:#5b8bb4;
}
/*background color for navbar all*/
#other{
    background-color:#5b8bb4;
}
/*background and padding all*/
#body, #body-services{
    background-color: #eae5e7;
    padding-top: 100px;
    padding-bottom: 100px;
}

#body-login{
    background-color: #eae5e7;
    padding-top: 100px;
    padding-bottom: 100px;
}

/*padding container*/
.container{
    padding-top: 50px;
}
/*background button*/
#button, #submit, #button-test{
    background-color: #779fc1;
}
/*background for card*/
.card{
    background-color: rgba(119, 159, 193, 0.2);
}
/*background and padding services*/
#hide, #hide-result{
    background-color: #eae5e7;
    padding-bottom: 100px;
    padding-top: 100px;
}
/*sizing card text*/
.card-text{
    height: 100px;
}
/*padding for row*/
.row{
    padding-top: 30px;
}

#navbarTogglerDemo01 {
    margin-left: 50px;
}
